* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans Condensed";
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    position: relative;
}

/* HEADER */

.navbar {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar h1 {
    font-size: 1.6em;
    letter-spacing: .8px;
}

.navbar .nav-tabs {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

.nav-tabs a {
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar .account a {
    font-size: 1.1em;
    font-weight: 200;
    letter-spacing: .51px;
}

/* HERO SECTION */

main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
}

.hero-sec .social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social .follow {
    display: block;
    height: fit-content;
    color: white;
    letter-spacing: 1.5px;
    rotate: 90deg;
    margin-bottom: 2.1em;
    margin-left: .25em;
    font-weight: 700;
}

.social i {
    margin: 3px 0;
    cursor: pointer;
}

main .center-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.center-main .heading-tag {
    font-size: 1.9em;
    letter-spacing: -1.9px;
    color: #fee8a3;
}

.center-main .main-tag {
    color: white;
    flex-wrap: nowrap;
    font-size: 5em;
    text-align: left;
    font-family: "Archivo";
    font-weight: 400;
    letter-spacing: 1px;
}

.center-main button {
    color: #d47676;
    padding: 1em 2em;
    background-color: #fee8a3;
    border: none;
    font-size: 1.5em;
    margin: 1em 0;
    cursor: pointer;
    font-weight: 700;
}

.center-main button:hover {
    box-shadow: .8px 3px 7px #0c0a0ae3;
    text-shadow: 2px 4px 4px #00000063;
}

/* ABOUT */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 4em;
    background-color: #0b1d27e7;
    color: white;
}

.about-sec {
    margin-top: -1px;
}

.about-text-content,
.transport-text-content,
.travel-text-content {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.text-content {
    width: 60%;
    text-transform: capitalize;
    margin: 0 auto;
}

.text-content .about .travel .transport {
    font-size: 1.5em;
    color: #fee8a3;
}

.text-content h2 {
    font-size: 2em;
    text-transform: capitalize;
}


.text-content .main-text {
    width: fit-content;
    font-size: 1.2em;
    font-weight: 100;
    color: white;
}

.img {
    width: 50%;
}

.img img {
    width: 80%;
    border-radius: 100px 0 0 100px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.about,
.travel,
.transport {
    margin: 10px 0;
}

.read-more {
    color: #fee8a3;
    text-transform: lowercase;
    font-weight: 300;
    font-size: .8em;
    text-decoration: underline;
}

/* Last Section Before Pictures */

.last-sec {
    justify-content: space-around;
    padding: 4em;
    width: 100%;
}

.last-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.lets-go {
    margin: 10px 0;
    background-color: #fee8a3;
    color: #0B1D27;
    font-size: 1.2em;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 5px 0 #0c0a0a;
}

.last-text2 {
    font-size: 1.3em;
    width: 30%;
}

/* IMAGES */

.slide {
    display: flex;
    flex-direction: row;
    padding: 5em 15em;
    min-height: 70vh;
    width: 100%;
    background-color: #0b1d27e7;
    color: white;
}

.slide-img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-img img {
    width: 78%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 200ms;
    box-shadow: 8px 5px 15px #00000088;
}

.slide-img img:hover {
    width: 120%;
    height: 110%;
    margin-top: -1.15em;
}

.slide-img p {
    position: absolute;
    left: 25%;
    bottom: 20%;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 5px 8px 4px #000000f5;
}

/* WHY US */

.why-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0b1d27e7;
    color: white;
    padding: 1em 0;
}

.why-section>* {
    width: 65%;
    margin: .5em 0;
    text-align: center;
}

.why-section h2 {
    font-size: 2em;
}

.why-section p {
    font-size: 1.2em;
    font-weight: 100;
}

/*  */

.services {
    padding: 10em 18em;
}

.service,
.icon,
.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 13px;
    text-align: center;
}

.icon i {
    color: #fee8a3;
    font-size: 4.5em;
}

.icon span {
    color: #fee8a3;
    font-size: 1.8em;
    font-weight: 900;
}

.icon-text h3 {
    font-size: 1.8em;
}

.icon-text p {
    line-height: 1;
}

.ballon-background {
    background-image: url("../img/ballon.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    object-fit: cover;

    padding: 5em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-text {
    text-align: center;
    width: 40%;
    color: white;
}

.upper-text h2 {
    font-size: 2em;
}

.upper-text>* {
    margin: .7em 0;
}

.upper-text button {
    font-size: 1.1em;
    font-weight: 600;
    color: #665e26;
    background-color: #fee8a3;
    border: none;
    padding: 1em 2em;
    box-shadow: 3px 3px 8px #414141;
}

button {
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #00121c;
    color: white;
    padding: 1em;
    bottom: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5em 10em;
}

.menus {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.col {
    padding: 2em;
}

.mail {
    border-bottom: solid white 1px;
}

input {
    background: transparent;
    border: none;
    box-shadow: 1px 1px 1px white;
}

.mail button {
    background: transparent;
    border: none;
    color: white;
}

.col h3 {
    margin: 1em 0;
    color: #fee8a3;
}

.col-1 h3 {
    color: #fff;
}

.drop-down>* {
    margin: 1em 0;
}

.contact>* {
    margin: .5em 0;
}

.footer>p {
    text-align: center;
}